= form_for @story, html: {} do |f|
  .form-group
    = f.text_field :title, :class => 'text-field form-control', placeholder: "Story Title"
  .form-group
    = f.text_area :text, :class => 'text-field form-control bind-ckeditor'
  .form-group
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), |
      stories_path, :class => 'btn btn-default'                    |
