.page-header
  %h1 Latest Stories
%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Summary
      %th Author
      %th Rating
      %th
  %tbody
    - @stories.each do |story|
      %tr
        %td= link_to story.title, story_path(story)
        %td= story.description
        %td= link_to story.user.display_name, user_path(story.user)
        %td= vote_percentage(story)
        %td.col-md-1
          .pull-right
            = edit_story_button(story)
= link_to t('.new', :default => t("helpers.links.new")), |
  new_story_path,                                        |
  :class => 'btn btn-primary'                            |
