- if current_user
  .btn-toolbar.pull-right
    = render partial: 'elements/story_action_links', locals: { story: @story, group_class: 'btn-group', btn_options: {class: 'btn btn-primary'}}

.page-header
  %h1= @story.title
.story-text
  = raw @story.text

.comments
  %h4 Comments

  - if @story.comments.present?
    %ul.media-list
      - @story.comments.each do |comment|
        = render partial: 'elements/comment', locals: { comment: comment, story: @story }

  - else
    %p There are currently no comments on this story. Be the first!

  - if current_user
    %h4 Add new comment
    = simple_form_for [@story, @story.comments.build] do |f|
      .form-group.row
        .col-md-12
          = f.text_area :text, rows: 3, :class => 'text-field form-control'
      .form-group.row
        .col-md-10
          = f.submit nil, :class => 'btn btn-primary'
