<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @story.text %>
</p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @story.deleted_at %>
</p>

<p>
  <strong>User:</strong>
  <%= @story.user %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
