!!!
%html
  %head
    %title HypotheticalComics
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = analytics_init if Rails.env.production?
  %body
    = render partial: "elements/navbar"
    .container
      = bootstrap_flash
      = yield
